# WordPress SEO - XML Sitemap Rewrite Fix
<IfModule mod_rewrite.c>
RewriteRule ^sitemap\.xml$ /index.php?sitemap=1 [L]
RewriteRule ^sitemap_index\.xml$ /index.php?sitemap=1 [L]
RewriteRule ^([^/]+?)-sitemap([0-9]+)?\.xml$ /index.php?sitemap=$1&sitemap_n=$2 [L]
</IfModule>
# END WordPress SEO - XML Sitemap Rewrite Fix

# Rewrite old.data.gov urls to PDF files (that have been indexed by google)
RewriteRule ^sites/default/files/(.*)\.pdf$ media/2013/10/$1\.pdf [L]
# END Rewrite old.data.gov urls to PDF files (that have been indexed by google)

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
# END WordPress

AddType image/svg+xml svg svgz
AddEncoding gzip svgz
