/* CSS for Web form */
.customcontactform {
  padding-top: 5px;

}

.customcontactform input[type='text'] {
  width: 50%;
  margin: 3px 10px 10px 0px;

}

.customcontactform input[type='checkbox'] {

  margin: 3px 10px 10px 0px;

}

.customcontactform label {
  display: block;
  width: 50%;
  font-weight: bold;

}

.customcontactform textarea {

  width: 50%;
  resize: none;
  overflow-y: hidden;
  margin: 3px 10px 10px 0px;
}

.customcontactform label.select {
  display: inline;
  font-weight: inherit;
  color: inherit;
  margin: 10px 10px 10px 0px;

}

.customcontactform select {
  margin: 3px 10px 10px 0px;

}

.customcontactform label.required {
  color: #FF0000;

}

.customcontactform h4 {
  display: none;
}

.customcontactform input.submit {

  background: none repeat scroll 0 0 #294B78;
  border: medium none #033162;
  border-radius: 5px 5px 5px 5px;
  color: #FFFFFF;
  display: inline-block;
  font-family: Myriad, Helvetica, Tahoma, Arial, sans-serif !important;
  font-size: 11px !important;
  font-weight: bold;
  height: 25px;
  line-height: 25px;
  margin: 8px 2px;
  margin-left: 0px;
  padding: 0 5px;
  vertical-align: middle;
  font-size: 60%;

}

.break-word {
  word-wrap: break-word;
}

/* End Web form */
.Energy_outer {
  background-color: #f9c959;
  border: 1px solid #d49b3f;
}

/* css for Category-Blogs */

.single-cat-post .title {
  font-size: 30px;
  line-height: 40px;
  color: #428BCA;
  font-weight: bold;
}

.All-cat-post .title {
  font-size: 20px;
  line-height: 40px;
  color: #8DB4D3;
  font-weight: bold;
}

.new-cat-post {

  background-color: #FFFFFF;
  /*  box-shadow: 0 2px 5px 1px #DADADA; */
  height: 200px;
  margin-top: -75px;

}

.no-cat-post {
  background-color: #FFFFFF;
  box-shadow: 0 2px 5px 1px #DADADA;
  height: 30px;
  margin-top: -75px;
}

.category-wrapper {
  margin-bottom: 20px;
  width: 85%;
  margin-left: 80px;
  margin-top: 70px;

}

.category-wrapper_all {
  margin-bottom: 20px;
  width: 100%;

  margin-top: 70px;

}

#cat-posts {

  margin-top: 45px;
}

#cat-posts:first-child {

  margin-top: 40px;
}

.catimg span.energy {
  background-image: url(../img/topic-energy.svg);
  display: inline-block;
  background-size: 100% 100%;
  zoom: 1;
  *display: inline;
  width: 45px;
  height: 45px;

}

.catimg span.education {
  background-image: url(../img/topic-education.svg);
  display: inline-block;
  background-size: 100% 100%;
  zoom: 1;
  *display: inline;
  width: 45px;
  height: 45px;

}

.catimg span.consumer {
  background-image: url(../img/topic-consumer.svg);
  display: inline-block;
  background-size: 100% 100%;
  zoom: 1;
  *display: inline;
  width: 45px;
  height: 45px;

}

.catimg span.development {
  background-image: url(../img/topic-development.svg);
  display: inline-block;
  background-size: 100% 100%;
  zoom: 1;
  *display: inline;
  width: 45px;
  height: 45px;

}

.catimg span.finance {
  background-image: url(../img/topic-finance.svg);
  display: inline-block;
  background-size: 100% 100%;
  zoom: 1;
  *display: inline;
  width: 45px;
  height: 45px;

}

.catimg span.food {
  background-image: url(../img/topic-food.svg);
  display: inline-block;
  background-size: 100% 100%;
  zoom: 1;
  *display: inline;
  width: 45px;
  height: 45px;

}

.catimg span.health {
  background-image: url(../img/topic-health.svg);
  display: inline-block;
  background-size: 100% 100%;
  zoom: 1;
  *display: inline;
  width: 45px;
  height: 45px;

}

.catimg span.manufacturing {
  background-image: url(../img/topic-manufacturing.svg);
  display: inline-block;
  background-size: 100% 100%;
  zoom: 1;
  *display: inline;
  width: 45px;
  height: 45px;

}

.catimg span.ocean {
  background-image: url(../img/topic-ocean.svg);
  display: inline-block;
  background-size: 100% 100%;
  zoom: 1;
  *display: inline;
  width: 45px;
  height: 45px;

}

.catimg span.manufacturing {
  background-image: url(../img/topic-research.svg);
  display: inline-block;
  background-size: 100% 100%;
  zoom: 1;
  *display: inline;
  width: 45px;
  height: 45px;

}

.catimg span.research {
  background-image: url(../img/topic-research.svg);
  display: inline-block;
  background-size: 100% 100%;
  zoom: 1;
  *display: inline;
  width: 45px;
  height: 45px;

}

.catimg span.safety {
  background-image: url(../img/topic-safety.svg);
  display: inline-block;
  background-size: 100% 100%;
  zoom: 1;
  *display: inline;
  width: 45px;
  height: 45px;

}

.horizontal_dotted_line {
  border-bottom: 2px solid #C0C0C0;
  width: 85%;
  margin-left: 80px;

}

.horizontal_dotted_line_all {
  border-bottom: 2px solid #C0C0C0;
  width: 100%;

}

.more-link {
  color: #83B03C;
}

.single {
  background: none repeat scroll 0 0 #FFFFFF;
}

/*Dataset */
h1.title {
  background: -moz-linear-gradient(center top, #5EA0D2 0%, #033162 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

h1.title {
  background: #3E6B85;
  color: #FFFFFF;
  display: block;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;

  margin: 0 10px 10px;
  padding: 0 20px;
  text-transform: uppercase;
}

.clearfix:after, .clearfix .inner:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  overflow: auto;
  visibility: hidden;
}

.dataset-inner {

}

table {
  border-spacing: 0;
  width: 100%;
  border-collapse: collapse;
}

table.datasets_published_per_month_table thead {
  background: #8DB4D3;
  color: #FFFFFF;
}

thead th, th {
  background-color: #8DB4D3;
  color: #FFFFFE;
}

thead th, thead td {
  padding: 10px;
  text-align: right;
}

tbody {
  border-top: 1px solid #CCCCCC;
}

tr.odd, tr.odd td {
  text-align: right;

}

tr.odd, tr.odd td a {

  text-decoration: none;
  color: #000000;
}

tr.even, tr.odd {

  padding: 0.1em 0.6em;
}

tr.even, tr.even td {
  background-color: #FFFFFF;

}

tr.even, tr.even td a {
  background-color: #FFFFFF;
  text-decoration: none;
  color: #000000;
}

.datasets_published_per_month_table_row_fields {
  border-bottom: 1px solid #444444;
  padding: 5px;
}

.panecontent {
  background: url("images/bottomgradient.png") repeat-x scroll center bottom rgba(0, 0, 0, 0);
  display: block;
  margin: 0;
  padding: 10px;
}

#open-data-sites-boxes.agencies .open-data-sites-box {
  height: 30px;
  margin: 10px 0 0;
  padding-left: 10px;
  padding-right: 10px;
  width: 500px;
}

div.open-data-sites-box {
  background: -moz-linear-gradient(center top, #FFFFFF 0%, #E6E6E6 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  background: linear-gradient(center top, #FFFFFF 0%, #E6E6E6 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  background: linear-gradient(to bottom, #FFFFFF 0%, #E6E6E6 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#E6E6E6', GradientType=0);
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  display: block;
  float: left;
  height: 120px;
  margin: 5px;
  padding: 5px;
  text-align: center;
  width: 120px;
}

#open-data-sites-boxes.agencies .open-data-sites-box .region {
  float: left;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
}

div.open-data-sites-box div.region {
  color: #666666;

}

#open-data-sites-boxes.agencies .open-data-sites-box .numbers {
  float: right;
  font-size: 25px;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  margin-top: 0;
}

div.open-data-sites-box div.numbers {
  color: #3366AC;
}

.agencytitle {
  margin: 12px;
}

.fieldcontentregion {
  color: #284A78;
}

tr.odd td a.link_dataset {

  color: #4295B0;
}

tr.even td a.link_dataset {

  color: #4295B0;
}

.community_box {
  width: 908px;
  height: 308px;
  margin-left: 10px;
}

#container4 {
  background: none repeat scroll 0 0 #B2F0F9;
  clear: left;
  float: left;
  overflow: hidden;
  width: 100%;
}

#container3 {
  background: none repeat scroll 0 0 #89FFA2;
  clear: left;
  float: left;
  position: relative;
  right: 25%;
  width: 100%;
}

#container2 {
  background: none repeat scroll 0 0 #FFA7A7;
  clear: left;
  float: left;
  position: relative;
  right: 25%;
  width: 100%;
}

#container1 {
  background: none repeat scroll 0 0 #FFF689;
  float: left;
  position: relative;
  right: 25%;
  width: 100%;
}

#col1 {
  float: left;
  left: 77%;
  overflow: hidden;
  position: relative;
  width: 21%;
}

#col2 {
  float: left;
  left: 81%;
  overflow: hidden;
  position: relative;
  width: 21%;
}

#col3 {
  float: left;
  left: 85%;
  overflow: hidden;
  position: relative;
  width: 21%;
}

#col4 {
  float: left;
  left: 89%;
  overflow: hidden;
  position: relative;
  width: 21%;
}

.bottom_blocks {
  width: 910px;
  margin-left: 10px;
}

/*ocean-technical guide */
.technical-wrapper {
  background: #FFFFFF;

}

.greyblock {
  background: url("images/greyblock-bg.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
  padding: 10px;
  width: 280px;
  float: left;
  margin-left: 12px;
  margin-top: 15px;
}

.greyblock ul {
  list-style: disc outside none;

}

.greyblock li {
  margin-left: 12px;
}

.greyblock ul li {
  padding: 0;
}

.greyblock ul li a {
  color: #4295B0;
  font: bold 12px Arial, Helvetica, sans-serif;
  text-decoration: none;
}

p.align-right {
  text-align: right;

}

p a.btn-readmore {
  margin-top: 0px;
  margin-bottom: 5px;
  color: #FFFFFF !important;
  font-size: 14px;
  padding: 7px 15px;
}

a.btn-readmore {
  background-image: url("images/search-bg.png");
  background-repeat: no-repeat;

}

/* Regional Planning */
#regionsidebar ul li {
  background: url("images/list-arrow-blue.png") no-repeat scroll 0 11px rgba(0, 0, 0, 0);
  border-bottom: 1px dotted #BBBBBB;
  display: block;
  font: 12px/18px Arial, Helvetica, sans-serif;
  list-style: none outside none;
  margin: 0;
  padding: 5px 5px 5px 10px;

}

.item-list ul li a {
  color: #4295B0;
  font: 15px Georgia, "Times New Roman", Times, serif;

}

#regionsidebar .panecontent {
  background: url("images/bottomgradient.png") repeat-x scroll center bottom rgba(0, 0, 0, 0);
  display: block;
  margin: 0;
  padding: 10px;
}

#regionsidebar .inner > h2.pane-title {
  clear: both;
  color: #666666;
  display: block;
  float: none;
  font: 24px Georgia, "Times New Roman", Serif;
  margin: 0;
  padding: 10px 0;
}

#regionsidebar .inner > h2.block-title {
  color: #4295B0;
  border-bottom: 2px dotted #BBBBBB;
  clear: both;

  display: block;
  float: none;
  font: 18px Georgia, "Times New Roman", Times, serif;
  margin: 0 0 0 10px;
  padding: 0 0 10px;
}

#regionsidebar {
  display: block;
  padding: 15px 0 15px 9px;
  float: right;
  width: 25%;
  margin-right: 10px;
}

#regionsidebar .panel-pane {
  display: block;
  margin: 0;
  padding: 0 0 15px;

}

#regionsidebar .panels-flexible-region-inside {
  display: block;
  margin-top: 50px;
  padding: 0;
}

.imagearea {
  float: left;
  width: 70%;
  margin-left: 10px;
}

.imagearea-mapgallery {
  float: left;
  width: 95%;
  margin-left: 10px;
}

#regionalcontent {
  margin-top: 20px;
}

.map-gallery-thumbnail {

  border-radius: 5px 5px 5px 5px;

  box-shadow: 2px 2px 3px #333333;

  border: 1px solid #ccc;

}

.map-gallery-caption {
  width: 200px;
  min-height: 70px;
  color: #666666;
  font: bold 12px Arial, Helvetica, sans-serif;
}

.map-align {

  float: left;

  margin: 0 10px;

}

.Apps-wrapper {
  margin-bottom: 20px;

}

.Apps-post {
  background-color: #FFFFFF;
  box-shadow: 0 2px 5px 1px #DADADA;

  padding: 20px 20px;
}

.Apps-post p {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
}

.Appstitle {
  font-family: 'Abel', Helvetica, sans-serif;
  font-size: 30px;
  font-weight: lighter;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.Mobile-post {
  background-color: #FFFFFF;
  box-shadow: 0 2px 5px 1px #DADADA;
  /*height: 450px;*/
  padding: 10px 10px 0;
}

.Mobile-post p {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
}

.Mobile-post .appscontainer {
  margin-top: 20px;
  position: relative;
  /*height:300px;*/
}

.Mobile-post .appscontainer .appsitem {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
  /*height:280px;*/
  width: 200px;
  background-color: #F2F2F2;
  float: left;
}

#itemtitle {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #009900;
  padding-top: 20px;
  padding-bottom: 5px;
}

#itemtitle a {
  font-weight: normal;
  font-size: 20px;
  color: #444444;
}

#itemimage {
  margin-top: 10px;
  margin-bottom: 10px;
}

#itemcontent {
  /*height:100px;*/

  color: #333333;
  padding-left: 5px;
  padding-right: 5px;
  /*text-align:center;*/
}

#bottomimages {
  margin-bottom: 10px;
}

#centerimages {
  margin-bottom: 20px;
}

.webcontainer {
  margin-top: 20px;
  margin-bottom: 20px;
}

#webimage {
  height: 60px;
  width: 80px;
  float: left;
  margin-left: 20px;
}

#webcontent {
  width: 750px;
  float: left;
  margin-left: 20px;
}

#webcontent h2 a {
  color: #333333;
}

#webcontent #webtext {

}

#webtext p {
  padding-left: 0;
}

.community_box {
  display: none;
}

.bottom_blocks {
  display: none;
}

.panel-col-first {
  float: left;
  width: 30%;
  margin-top: 20px;
}

.panel-col-second {
  float: left;
  width: 60%;
  margin-left: 35px;
  margin-top: 20px;
}

#regionimg2 {

  width: 200px;
  height: 200px;
}

.state a {
  background: url("images/list-arrow-blue.png") no-repeat scroll 0 11px rgba(0, 0, 0, 0);

  display: block;
  color: #4295B0;
  font: 15px Georgia, "Times New Roman", Times, serif;
  list-style: none outside none;
  margin: 0;
  padding: 5px 5px 5px 10px;

}

.second ul {

  list-style: disc none outside;
  margin-left: 15px;

}

.second ul li a {

  display: block;
  color: #4295B0;
  font: 15px Georgia, "Times New Roman", Times, serif;

  margin: 0;
  padding: 5px 5px 5px 10px;

}

.portal a {

  display: block;
  color: #4295B0;
  font: 15px Georgia, "Times New Roman", Times, serif;
  list-style: none outside none;
  margin: 0;
  padding: 5px 5px 5px 10px;

}

h1, h2, h3, h4, h5 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

h3 {
  font-size: 114.28%;
}

h2 {
  font-size: 142.85%;
}

.fieldcontentregion {
  color: #284A78;
}

img.iconApp {
  display: inline-block !important;
  margin: 0 10px;
}

/*Events */
.view-event {

  background-color: #FFFFFF;
  box-shadow: 0 2px 5px 1px #DADADA;
  height: auto;

}

#view-event {

  margin-top: 25px;
}

.view-event .core {
  height: auto;
  padding: 20px 20px 0;
}

.view-event-content {
  padding: 5px;
}

.view-communities {
  background-color: #F8F8F8;
  border: 1px solid #EAEEF1;
  height: auto;

  width: 30%;
  float: left;
  margin-left: 30px;
  margin-top: 10px;
}

.view-communities .pane-title.block-title {
  background: none repeat scroll 0 0 #444444;
  color: #FFFFFF;
  font-family: NovecentowideBold, "Segoe UI", "Gill Sans MT", Candara, Calibri, "Franklin Gothic Medium", "Lucida Sans Unicode", "Trebuchet MS", Arial, Tahoma, Verdana, sans-serif;
  font-size: 1.5em;
  font-weight: normal;
  letter-spacing: 1px;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;

  margin: 0px;
}

.list-events {
  margin-left: 10px;
}

.view-communities .views-row {
  margin: 17px 30px;
}

.view-communities .views-row .row > a {
  color: #58B3C7;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Geneva, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  line-height: 2;

}

.wrapper {
  float: left;
  margin-top: 5px;
  text-align: center;
}

.wrapper .datebox-container {
  background-color: #D9492D;
  border: 0 none;
  border-radius: 0;
  font-family: NovecentowideBold, "Segoe UI", "Gill Sans MT", Candara, Calibri, "Franklin Gothic Medium", "Lucida Sans Unicode", "Trebuchet MS", Arial, Tahoma, Verdana, sans-serif;
  height: 50px;
  margin-right: 15px;
  width: 50px;
}

.wrapper .month {

  line-height: 10px;
  padding-top: 6px;
  padding-bottom: 1px;
  font-weight: bold;
}

.datebox-container div {
  color: #FFFFFF;
}

.wrapper .date {
  font-size: 16px;
  line-height: 30px;
  font-weight: bold;
}

.views-field.views-field-title {
  display: block;
  text-align: justify;

}

.views-field.views-field-title a {
  color: #8DB4D3;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Geneva, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.view-event .view-event-content .views-field-group-audience li {
  background: none repeat scroll 0 0 #57B3C6;
  display: inline;
  font-family: NovecentowideBold, "Segoe UI", "Gill Sans MT", Candara, Calibri, "Franklin Gothic Medium", "Lucida Sans Unicode", "Trebuchet MS", Arial, Tahoma, Verdana, sans-serif;
  font-size: 9.5px;
  padding: 2px 12px 1px;
  white-space: nowrap;
}

.view-event .view-event-content .views-field-group-audience {
  margin-bottm: 10px;
  clear: both;
}

.views-field-group-audience a {
  color: #8DB4D3;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
}

#blogauthor {
  width: 280px;
  float: left;
}

.cat-post .meta1 {
  font-family: 'Abel', Helvetica, sans-serif;
  font-weight: bold;

}

.cat-post .meta1 {
  padding: 0 0 0px 20px;
  margin-bottom: 10px;

}

.text-label {
  color: #cdcdcd;
  font-weight: bold;
}

.challenges .cat-post .core {
  height: auto;
  padding: 20px 20px 0;
}

.challenges .cat-post {
  height: auto;
}

#services {
  margin: 10px;
}

#services h2.pane-title {

  display: block;
  float: none;

}

.servicetext {

  color: #4295B0 !important;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 18px;
}

.servicetext strong {

  color: #4295B0 !important;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 18px;
}

.servicetext ul {
  margin: 0px 0px 18px;

}

.servicetext ul li {
  list-style: disc outside none;
  margin-left: 20px;
  margin-top: 2px;

}

.servicetext ul li a {
  font-family: Arial, Helvetica, sans-serif;
  color: #4295B0 !important;
  font-weight: bold;
}

#serviceleft p a {
  font-family: Arial, Helvetica, sans-serif;
  color: #4295B0 !important;
  font-weight: bold;
}

#serviceright p a {
  font-family: Arial, Helvetica, sans-serif;
  color: #4295B0 !important;
  font-weight: bold;
}

.challenges .title a {
  color: #444444
}

.commentlist li {
  border: 1px solid #CCCCCC;
  padding: 20px;
  margin: 5px;
}

ol.commentlist {
  list-style: decimal inside none;

}

.page .single-post {
  margin-top: 0px !important;
}

.page.uncategorized .single-post {
  margin-top: 30px !important;
}

.ivycat-post {
  padding: 15px;
}

.ivycat-post a {
  color: #444;
}

.ivycat-post .entry-utility {
  display: none;
}

.announcement .cat-post .core {
  height: auto;
}

.nocomments {
  display: none;
}

.announcement .cat-post {

  height: auto;

}

.agencytitle {
  margin: 12px;
}

.footer a {
  margin-right: 5px !important;
}

.announcement .title a {
  color: #444;
}

.uncategorized .sixteen.columns.page-nav-items {
  display: none;
}

#communities-left {
  float: left;
  width: 70%;
}

#communities-right {
  background-color: #FFFFFF;
  box-shadow: 0 2px 5px 1px #DADADA;
  height: auto;

}

#regionsidebar .panecontent2 {
  display: block;
  margin: 0;
  padding: 10px;
}

.align-center {
  text-align: center;
  padding: 20px;
}

.post-42321 tbody {
  border: 0;
}

.uncategorized .content {
  margin-top: 30px;
}

.no-cat-post {
  height: auto;
}

.no-cat-post .core {
  padding: 10px;
}

.datasets_published_per_month_table_row_fields {
  border-bottom: 1px solid #444444;
  padding: 5px;
}

.panecontent {
  background: url("images/bottomgradient.png") repeat-x scroll center bottom rgba(0, 0, 0, 0);
  display: block;
  margin: 0;
  padding: 10px;
}

.ag_button {
  background: linear-gradient(to bottom, #77B55A 5%, #72B352 100%) repeat scroll 0 0 #77B55A;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#77B55A', endColorstr='#72B352'); /* for IE */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#77B55A', endColorstr='#72B352'); /* for IE */
  border: 1px solid #4B8F29;
  border-radius: 4px;
  box-shadow: 0 10px 14px -7px #3E7327;
  color: #FFFFFF !important;
  display: inline-block;
  font-size: 16px !important;
  padding: 10px 15px;
  text-decoration: none;
}

.post-115912 ul ul ul {
  font-size: 100%;
}

ul#pagination li a {
  color: #284A78;
  margin-right: 45px;
  font-weight: bold;
  float: right;
}

.gallery {
  padding: 25px;
  width: 60%;
  border-style: dashed;
  border-color: rgb(0, 0, 0);
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-image: none;
  border-width: 1px 0pt;
  font-size: 1.2em;
  text-align: center;
  margin: 0pt auto;
}

.gallery-center {
  margin-top: 20px;
}

.post-46152 .agriculture p a, .post-46152 .agriculture li a, .post-46152 .agriculture tr td a {
  color: #83B03C;

}

.challenges #cat-posts {
  margin-top: 15px;
}

.openC {
  margin-bottom: 25px;
}

.upcomingC {
  margin-bottom: 25px;
}

/* Maps pagination */
.item-list .pager {
  clear: both;
  text-align: center;
}

.item-list .pager li {
  padding: 0;
}

.item-list .pager li {
  background-image: none;
  display: inline;
  list-style-type: none;
  padding: 0.5em;
}

ul.pager li.pager-current {
  background-color: #777777;
  color: #FFFFFF !important;
}

ul.pager a, ul.pager li.pager-current {
  border-color: #333333;
  border-style: solid;
  border-width: 1px;
  padding: 3px 6px 2px;
  text-decoration: none;
}

a.search-results {
  font-size: 1.2em;
  font-weight: bold;
  color: #284A78 !important;
}

div.search-notice {
  margin-bottom: 10px;
  border: 1px solid #CCCCCC;
  padding: 10px;
}

ul.pager a:link, ul.pager a:visited {
  color: inherit;
}

#comments .media-list li {
  border-bottom: 2px solid #ccc;
  margin: 30px 0;
  padding-bottom: 15px;
}
