/* ==========================================================================
   Styles for contact-us
   ========================================================================== */
#contact-wrapper {

    margin-top: 20px;
    position:relative;
}
.contact-post {
    background-color: #F2F2F2;
    float: left;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-top: 5px;
    width: 290px;
    min-height:600px;
}
.contact-post .text{
    padding:20px 10px;
    font-size:22px;
    line-height:30px;
}
.separator{
    border-bottom: 2px solid #C0C0C0;


    margin:5px;


}
.contact-question{
    padding:20px 10px 20px 10px;
    font-size:20px;
}

.contact-post2 {
    background-color: #F2F2F2;
    float: left;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-top: 20px;
    width: 290px;
    min-height:100px;
}

.contact-post3 {
    background-color: #428BCA;

    margin-bottom: 5px;
    margin-left: 20px;
    margin-top: 150px;
    width: 910px;
    min-height:350px;

}
.contact-post4 {
    background-color: #F2F2F2;
    float: left;
    margin-bottom: 5px;
    margin: 10px;

    width: 600px;
    min-height:330px;
}
.contact-post5 {
    display:block;
    padding:20px;
    line-height:20px;
    margin-right: 10px;
    margin-top:10px;
    font-size:20px;
    color:#ffffff;
}

.contact-post6 {

    padding:20px;

    margin-right: 10px;
    margin-top:10px;

}
.contact-post6 select {

    width:260px;
    height:30px;

}
.contact-post7 {


    padding:20px;

    margin-right: 10px;
    margin-top:10px;
    background-color: #F2F2F2;
    color:#000000;
    width:275px;
    float:right;
    font-size:36px;font-weight:bold;text-align:center;

}
.contact-post8 {
    background-color: #F2F2F2;
    float: left;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-top: 20px;
    width: 450px;
    min-height:100px;



}
.contact-text{
    text-align:center;padding:30px 10px;font-size:20px;

}
.contact-title{
    padding:10px 10px;font-size:20px;

}
.iconApp {
    display: inline-block !important;
    margin: 0 5px;
}